.testimony {
    padding-block-end: 40px;
    padding-block-start: 40px;
}

.testimony-container {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin: auto;
    max-inline-size: 100%;
    padding: 40px;
    border-radius: 24px;
    border: 4px solid transparent;
    background: 
        linear-gradient(var(--salmon), var(--salmon)), 
        linear-gradient(135deg, var(--verde), var(--salmon) 40%); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.testimony-container img {
    width: 64px;
    border-radius: 50%;
    margin: auto;
    margin-block-end: 0;
    margin-block-start: 0;
}

.testimony-container p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.testimony-container p:nth-of-type(1) {
    font: var(--description);
}

.testimony-container p:nth-of-type(2) {
    font: var(--caption);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .testimony {
        padding-block-end: 80px;
        padding-block-start: 80px;
    }

    .testimony-container {
        margin: auto;
        max-inline-size: 100%;
        padding: 80px;
    }

    .testimony-container p {
        text-align: center;
    }

    .testimony-container p:nth-of-type(1) {
        font: var(--comment);
    }

    .testimony-container p:nth-of-type(2) {
        font: var(--headline5);
    }
}