.social {
    padding-block-end: 16px;
    display: flex;
    gap: 16px;
}

.social.is-hero {
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .social.is-hero {
        justify-content: left;
    }
}