<header class="sticky top-0 backdrop-blur">
    <div class="wrapper">
        <div class="flex justify-content-between align-items-center h-5rem">
            <img src="../../../assets/img/logo-niver-mtz.png" height="80%" alt="logo bonito">
            <nav class="hidden md:block ">
                <ul class="flex gap-6">
                    <li><a class="is-active" href="#main">{{ 'HEADER.hello' | translate }}</a></li>
                    <li><a href="#project">{{ 'HEADER.projects' | translate }}</a></li>
                    <li><a href="#contact">{{ 'HEADER.contact' | translate }}</a></li>
                </ul>
            </nav>
            <a class="card flex justify-content-center" href="https://rb.gy/xnw3i" target="_blank">
                <p-button [label]="'HEADER.button' | translate" styleClass="p-button-outlined">
                </p-button>
            </a>
        </div>
    </div>
</header>