<header class="header">
    <div class="wrapper">
        <div class="header-content">
            <img src="../../../assets/logo-niver-mtz-salmon.png" height="80%" alt="logo bonito">
            <nav class="menu">
                <ul>
                    <li><a class="is-active" href="#main">Hola</a></li>
                    <li><a href="#project">Proyectos</a></li>
                    <li><a href="#contact">Contactar</a></li>
                </ul>
            </nav>
            <button class="button"><a target="_blank" style="text-decoration: none; color: white;"
                    href="https://nivermtz.github.io/cv/">curriculum</a></button>
        </div>
    </div>
</header>
