<header class="header">
    <div class="wrapper">
        <div class="header-content">
            <img src="../../../assets/img/logo-niver-mtz.png" height="80%" alt="logo bonito">
            <nav class="menu">
                <ul>
                    <li><a class="is-active" href="#main">Hola</a></li>
                    <li><a href="#project">Proyectos</a></li>
                    <li><a href="#contact">Contactar</a></li>
                </ul>
            </nav>
            <a class="card flex justify-content-center" href="https://nivermtz.github.io/cv/" target="_blank">
                <p-button label="Curriculum" styleClass="p-button-outlined">
                </p-button>
            </a>
        </div>
    </div>
</header>